# Pasar el header Authorization a PHP sin importar el modo MPM
RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

# Pasar también a CGI/FastCGI
CGIPassAuth On

# Sin listado de directorio
Options -Indexes
